.button {
  display: inline-block;
  background: var(--yellow);
  font-weight: 700;
  font-size: var(--text-lg);
  padding: 1rem 3rem;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 20%);
  transition: 200ms ease-out;
  transition-property: transform, box-shadow;
  will-change: box-shadow;
}

.button:active {
  transform: translateY(4px);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 20%);
}

.rounded {
  border-radius: 3rem;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.shine {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.shine::after {
  content: '';
  z-index: -1;
  background-color: rgba(222, 222, 222, 0.699);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 2em;
  transform: translate3d(-1100%, 0, 0) rotate(35deg);
}

.shine:hover::after {
  transition: transform 0.7s ease-in-out;
  transform: translate3d(200%, 0, 0) rotate(35deg);
}
