.container {
  margin: var(--sz-xl) auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.container svg {
  width: 64px;
}

.link {
  text-decoration: none;
}

.dashboardLogo h2 {
  font-size: 2rem;
}

.dashboardLogo svg {
  max-width: 48px;
}
