.predictions {
  background-color: var(--gray);
  border-radius: 4px;
  padding: 0.4em 1em;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  animation: slit-in-vertical 0.3s ease-in-out both;
  height: auto;
  line-height: 1.5em;
}

.predictions-heading {
  color: var(--black);
  text-transform: capitalize;
}

.predictions-subheading {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--red);
  margin-bottom: 4px;
}

.predictions-subheading img {
  width: 4%;
  margin-right: 10px;
}

.predictions .progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #cecece;
  border-radius: 0.25rem;
}

.predictions .progress > .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bg-color);
  transition: width 0.6s ease;
  padding: 0.4rem 0.8rem;
  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
}

.predictions span {
  color: var(--blue);
  font-size: 1rem;
  display: inline-block;
}

.predictions .description span {
  display: inline-block;
  color: var(--black);
  margin-top: 10px;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

@media screen and (max-width: 420px) {
  .prediction {
    border-radius: none;
    position: relative;
  }
  .prediction::after {
    content: '';
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    position: absolute;
    border: solid transparent;
    pointer-events: none;
    border-color: transparent transparent transparent red;
  }
  .predictions .subheading img {
    width: 6%;
  }
}
