.dropContainer {
  width: 100%;
  max-width: 500px;
  background: var(--gray);
  border-radius: 4px;
  padding: 2rem 4rem;
  text-align: center;
  margin: 0 auto;
  border: 3px solid transparent;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.dropContainer:hover {
  cursor: pointer;
  border: 3px dotted var(--blue);
}

.dropContainer h3 {
  color: var(--blue);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.dropContainer small {
  color: var(--blue);
  font-size: 1rem;
}

.dropContainer p {
  opacity: 0.3;
  font-weight: 600;
}

.dropContainer img {
  width: 20%;
}

.dragActive {
  border: 3px dotted var(--blue);
}

.dragReject {
  border: 3px dotted var(--red);
}
.dragReject h3 {
  color: var(--red);
}

.btn {
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 12px 20px;
  background-color: #f4f4f4;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::after {
  content: '';
  z-index: -1;
  background-color: hsl(237, 57%, 74%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 2em;
  transform: translate3d(-1100%, 0, 0) rotate(35deg);
}

.btn:hover::after {
  transition: transform 0.7s ease-in-out;
  transform: translate3d(200%, 0, 0) rotate(35deg);
}

.alert {
  margin-top: 35px;
  color: var(--black);
  padding: 1em;
  background-color: var(--gray);
  border-radius: 4px;
}

.alert.is-danger {
  color: var(--white);
  background-color: var(--red);
}
.alert.is-warning {
  background-color: rgb(245, 245, 98);
  color: #303030;
  align-self: center;
  font-weight: 600;
}

.fileInput {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
