@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.bouncingLoader {
  display: flex;
  justify-content: center;
}

.bouncingLoader > span {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: var(--white);
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > span:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncingLoader > span:nth-child(3) {
  animation-delay: 0.4s;
}
